@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Sawarabi Gothic", sans-serif;
}

h1 {
  text-align: center;
}

/* for mobile */
.rlc-container {
  display: flex;
  height: 6em;

  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color);
}

.rlc-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
  margin-top: 0.2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: 0.8rem;
}

.rlc-favicon {
  margin-top: 0rem;
  margin-bottom: 0rem;
  object-fit: contain;
}

.rlc-url {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  color: #505050;
  font-size: 0.4rem;
}

.rlc-url-container {
  display: flex;
  font-size: 50%;
  margin-top: 0rem;
  /* margin-bottom: 0.5rem; */
  margin-left: 0.5rem;
}

.rlc-info {
  max-width: 8em;
  display: flex;
  flex-direction: column;
}

.rlc-description {
  display: none;
}

.rlc-image {
  max-width: 8em;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  object-fit: cover;
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored:
    0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
}

.rlc-image-container {
  margin-left: auto;
  margin-right: 10px;
  align-self: center;
}

/* for PC */
@media (min-width: 768px) {
  .rlc-container {
    display: flex;
    height: 6em;

    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored:
      0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow:
      var(--tw-ring-offset-shadow, 0 0 #0000),
       var(--tw-ring-shadow, 0 0 #0000),
       var(--tw-shadow);
  }

  .rlc-container:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
  }

  .rlc-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 0.2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    overflow: hidden;
  }

  .rlc-favicon {
    margin-top: 0rem;
    margin-bottom: 0rem;
    object-fit: contain;
  }

  .rlc-url {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    color: #505050;
  }

  .rlc-url-container {
    display: flex;
    font-size: 50%;
    margin-top: 2rem;
    /* margin-bottom: 0.5rem; */
    margin-left: 0.5rem;
  }

  .rlc-info {
    max-width: 23em;
    display: flex;
    flex-direction: column;
  }

  .rlc-description {
    display: none;
  }

  .rlc-image {
    max-width: 9em;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    object-fit: cover;
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored:
      0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  }

  .rlc-image-container {
    margin-left: auto;
    margin-right: 10px;
    align-self: center;
  }
}
