<!doctype html>
<html lang="ja">
  <head>
    <title>{{ title }</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <main>
      <article className="prose">
         {{ content }}
      </article>
    </main>
  </body>
</html>
