/* Font import */
@import url("https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Sawarabi Gothic", sans-serif;
}

.shiki {
  @apply overflow-y-scroll;
}

.twitter-tweet {
  @apply mx-auto;
}

span.shiki {
  border-radius: 0.25rem;
  padding-bottom: 0.125rem;
}

/* HACK: リリースビルドで何故か消えているのでゴリ押し */
.justify-around {
  justify-content: space-around;
}
