/* @import "tailwindcss"; */
/* Font import */
@import url("https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap");

@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui";

@source inline("py-3");

body {
  font-family: "Sawarabi Gothic", sans-serif;
}

.shiki {
  @apply overflow-y-scroll;
}

.twitter-tweet {
  @apply mx-auto;
}

span.shiki {
  border-radius: 0.25rem;
  padding-bottom: 0.125rem;
}

@theme {
  --radius-sm: 0.25rem;
  --color-slate-200: rgb(226 232 240);
  --spacing-1: 0.25rem;
  --spacing-0_5: 0.125rem;
}

@layer base {
  code {
    border-radius: var(--radius-sm);
    background-color: var(--color-slate-200);
    padding-left: var(--spacing-1);
    padding-right: var(--spacing-1);
    padding-top: var(--spacing-0_5);
    padding-bottom: var(--spacing-0_5);
  }

  code::before,
  code::after {
    content: none;
  }
}

/* Autolink headings */
.anchor-link {
  @apply opacity-0 mr-2 text-base-content/50 no-underline transition-opacity;
}

h1:hover .anchor-link,
h2:hover .anchor-link,
h3:hover .anchor-link,
h4:hover .anchor-link,
h5:hover .anchor-link,
h6:hover .anchor-link {
  @apply opacity-100;
}

.anchor-link:hover {
  @apply text-primary;
}

.anchor-icon {
  @apply font-mono;
}
