/* @import "tailwindcss"; */
/* Font import */
@import url("https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap");

@plugin "tailwindcss/typography";
@plugin "daisyui";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Sawarabi Gothic", sans-serif;
}

.shiki {
  @apply overflow-y-scroll;
}

.twitter-tweet {
  @apply mx-auto;
}

span.shiki {
  border-radius: 0.25rem;
  padding-bottom: 0.125rem;
}

@theme {
  code {
    border-radius: 0.25rem;
    background-color: rgb(226 232 240);
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
  }
  code::before {
    content: "none";
  }
  code::after {
    content: "none";
  }
}
